@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;





#score{
  display: none;
}

*{
  font-family: 'Anton', sans-serif;
}


*::-webkit-scrollbar {
  display: none;
}
